In [2]:
str_example="Hello World"

In [3]:
type(str_example)

str

In [5]:
print(str_example)

Hello World

### Inbuilt functions

In [6]:
len(str_example)

11

In [7]:
str_example

'Hello World'

## Indexing

In [9]:
str_example[8]

'r'

## Slicing

In [10]:
str_example[1:]

'ello World'

In [11]:
str_example[1:5]

'ello'

In [12]:
str_example[1:6]

'ello '

In [22]:
str_example[1:5].upper()

'ELLO'

In [23]:
str_example.index('o')

4

In [24]:
str_example[:2]

'He'

In [25]:
str_example[10:2:-1]

'dlroW ol'

In [26]:
str_example[::-1]

'dlroW olleH'

In [27]:
str_example.replace('d','e')

'Hello Worle'

In [3]:
str_example[:-1]

'Hello Worl'

## Concatenate

In [28]:
str_example + 'concat'

'Hello Worldconcat'

In [31]:
alphabet = 'z'

In [30]:
alphabet*10

'zzzzzzzzzz'

In [32]:
alphabet + alphabet

'zz'

In [33]:
str(1) + alphabet

'1z'

In [34]:
str_example.split()

['Hello', 'World']

In [35]:
str_example.split('o')

['Hell', ' W', 'rld']

## Print Format

In [44]:
name='Manoj'
age=35232

print("My name is {} and age is {:,.2f}".format(name,age))

My name is Manoj and age is 35,232.00

## others

In [45]:
str_example.count('o')

2

In [47]:
str_example.find('W')

6

In [48]:
s="hello"

In [49]:
s.isalnum()

True

In [50]:
s='hello123'

In [51]:
s.isalnum()

True

In [52]:
s.isalpha()

False

In [53]:
s.isnumeric()

False

In [54]:
s='123'

In [55]:
s.isnumeric()

True

In [56]:
s.isspace()

False

In [57]:
str_example.isspace()

False

In [58]:
"    ".isspace()

True

In [59]:
"hello".endswith('o')

True

In [60]:
"hello".startswith('he')

True

In [61]:
str_example.partition('l')

('He', 'l', 'lo World')

In [4]:
str_example.find('x')

-1

# Lists

List is a collection of homogenous and hetrogenious objects

In [64]:
l_example =[1,2,3,'krish']

In [63]:
list_example

[1, 2, 3, 'krish']

In [65]:
l_example[2]

3

In [66]:
l_example[2] = "Manoj"

In [67]:
l_example

[1, 2, 'Manoj', 'krish']

In [68]:
l_example[:3]

[1, 2, 'Manoj']

In [69]:
print(l_example)

[1, 2, 'Manoj', 'krish']

In [70]:
l_example + ["Mishra"]

[1, 2, 'Manoj', 'krish', 'Mishra']

In [71]:
l_example.append("Mishra")

In [72]:
l_example

[1, 2, 'Manoj', 'krish', 'Mishra']

In [73]:
"Manoj" + 1

TypeError: must be str, not int

In [75]:
l_example * 2

[1, 2, 'Manoj', 'krish', 'Mishra', 1, 2, 'Manoj', 'krish', 'Mishra']

In [76]:
for i in range(len(l_example)):
    print(l_example[i])

1
2
Manoj
krish
Mishra

In [77]:
for i in l_example:
    print(i)

1
2
Manoj
krish
Mishra

In [78]:
l_example.pop()
l_example

[1, 2, 'Manoj', 'krish']

In [79]:
l_example.remove(2)

In [80]:
l_example

[1, 'Manoj', 'krish']

In [81]:
new_list = ['a','x','f','n']

In [82]:
new_list.sort()
new_list

['a', 'f', 'n', 'x']

In [83]:
new_list.reverse()
new_list

['x', 'n', 'f', 'a']

In [84]:
l1 = [1,2,3]

In [85]:
l2 = [4,5,6]
l3 = [7,8,9]

In [86]:
m1=[l1,l2,l3]

In [87]:
m1[1]

[4, 5, 6]

In [88]:
m1[1][1]

5

In [90]:
l1.extend([4,5])
l1

[1, 2, 3, 4, 5]

# Tuples

In [91]:
t1=(1,2,3)

In [92]:
type(t1)

tuple

In [93]:
t1(1)

TypeError: 'tuple' object is not callable

In [94]:
t[1]

NameError: name 't' is not defined

In [95]:
t1[1]

2

In [96]:
t1[2] = 4

TypeError: 'tuple' object does not support item assignment

In [97]:
t1[1:]

(2, 3)

In [98]:
t1.count

In [100]:
t1.count(2)

1

In [101]:
l1t2=[1,2,(1,4)]

In [103]:
l1t2[2][1]

4

# Sets

Collection of unique values

In [104]:
s1 = set()

In [105]:
s1.add(1)

In [106]:
s1

{1}

In [107]:
s2={1,2,3,1,2,5,7}

In [108]:
s2

{1, 2, 3, 5, 7}

In [109]:
set([1,2,3,1,2,7,10,6])

{1, 2, 3, 6, 7, 10}

# Dictionary
Key value pair

In [110]:
d1={'k1':"v1",'k2':'v2','k3':3}

In [111]:
print(d1)

{'k1': 'v1', 'k2': 'v2', 'k3': 3}

In [112]:
d1['k2']

'v2'

In [113]:
d1['k3'] -= 2

In [114]:
d1

{'k1': 'v1', 'k2': 'v2', 'k3': 1}

In [116]:
d1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [117]:
d1.values()

dict_values(['v1', 'v2', 1])

In [118]:
d1.items()

dict_items([('k1', 'v1'), ('k2', 'v2'), ('k3', 1)])

In [119]:
for i in range(10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [120]:
#List comprehension
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [122]:
print({x**2 for x in range(10)})

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

# Functions

In [125]:
def f1():
    print("Hello world")

In [126]:
f1()
f1()
f1()

Hello world
Hello world
Hello world

In [127]:
def add_num(num1,num2):
    return num1+num2

In [128]:
add_num(1,2)

3

In [129]:
add_num(1,"x")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [130]:
add_num("a","x")

'ax'

In [131]:
def square_int(x):
    return x**2

In [132]:
square_int(5)

25

In [133]:
val = square_int(5)

In [134]:
val

25

In [137]:
def addValueOfList(l1):
    x=0
    for n in l1:
        x = x+n
    return x

In [138]:
addValueOfList([1,2,5])

8

In [144]:
def factorial(num):
    x = 1
    for i in range(1,num+1):
        x=x*i
    return x

In [145]:
factorial(0)

1

In [147]:
def fac(num):
    x=num
    if x>1:
        x=x*(fac(num-1))
    return x

In [148]:
fac(5)

120

In [149]:
fac(1)

1

In [150]:
fac(2)

2

In [151]:
fac(3)

6

In [152]:
#lambda is anonymous function
times2=lambda var:var*2

In [153]:
times2(4)

8

# Map and Filters

In [154]:
seq=[1,2,3,4]

In [155]:
list(map(times2,seq))

[2, 4, 6, 8]

In [156]:
list(map(lambda var:var*2,seq))

[2, 4, 6, 8]

In [157]:
list(filter(lambda item:item%2==0,seq))

[2, 4]

# Reduce

In [158]:
import functools as fs

def reduceSum(lis):
    return fs.reduce(lambda a,b: a+b,lis)

In [159]:
reduceSum([1,2,3,4,5,6])

21

In [160]:
def gencubes(n):
    for num in range(n):
        yield num**3

In [161]:
for x in gencubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [162]:
gencubes(10)

In [164]:
list(gencubes(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [166]:
def simple_gen():
    for x in range(3):
        yield x

In [167]:
g=simple_gen()

In [168]:
next(g)

0

In [169]:
next(g)

1

In [170]:
len(g)

TypeError: object of type 'generator' has no len()

In [5]:
list(map(lambda var:var*2,range(300,901)))

[600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998,
 1000,
 1002,
 1004,
 1006,
 1008,
 1010,
 1012,
 1014,
 1016,
 1018,
 1020,
 1022,
 1024,
 1026,
 1028,
 1030,
 1032,
 1034,
 1036,
 1038,
 1040,
 1042,
 1044,
 1046,
 1048,
 1050,
 1052,
 1054,
 1056,
 1058,
 1060,
 1062,
 1064,
 1066,
 1068,
 1070,
 1072,
 1074,
 1076,
 1078,
 1080,
 1082,
 1084,
 1086,
 1088,
 1090,
 1092,
 1094,
 1096,
 1098,
 1100,
 1102,
 1104,
 1106,
 1108,
 1110,
 1112,
 1114,
 1116,
 1118,
 1120,
 1122,
 1124,
 1126,
 1128,
 1130,
 1132,
 1134,
 1136,
 1138,
 1140,
 1142,
 1144,
 1146,
 1148,
 1150,
 1152,
 1154,
 1156,
 1158,
 1160,
 1162,
 1164,
 1166,
 1168,
 1170,
 1172,
 1174,
 1176,
 1178,
 1180,
 1182,
 1184,
 1186,
 1188,
 1190,
 1192,
 1194,
 1196,
 1198,
 1200,
 1202,
 1204,
 1206,
 1208,
 1210,
 1212,
 1214,
 1216,
 1218,
 1220,
 1222,
 1224,
 1226,
 1228,
 1230,
 1232,
 1234,
 1236,
 1238,
 1240,
 1242,
 1244,
 1246,
 1248,
 1250,
 1252,
 1254,
 1256,
 1258,
 1260,
 1262,
 1264,
 1266,
 1268,
 1270,
 1272,
 1274,
 1276,
 1278,
 1280,
 1282,
 1284,
 1286,
 1288,
 1290,
 1292,
 1294,
 1296,
 1298,
 1300,
 1302,
 1304,
 1306,
 1308,
 1310,
 1312,
 1314,
 1316,
 1318,
 1320,
 1322,
 1324,
 1326,
 1328,
 1330,
 1332,
 1334,
 1336,
 1338,
 1340,
 1342,
 1344,
 1346,
 1348,
 1350,
 1352,
 1354,
 1356,
 1358,
 1360,
 1362,
 1364,
 1366,
 1368,
 1370,
 1372,
 1374,
 1376,
 1378,
 1380,
 1382,
 1384,
 1386,
 1388,
 1390,
 1392,
 1394,
 1396,
 1398,
 1400,
 1402,
 1404,
 1406,
 1408,
 1410,
 1412,
 1414,
 1416,
 1418,
 1420,
 1422,
 1424,
 1426,
 1428,
 1430,
 1432,
 1434,
 1436,
 1438,
 1440,
 1442,
 1444,
 1446,
 1448,
 1450,
 1452,
 1454,
 1456,
 1458,
 1460,
 1462,
 1464,
 1466,
 1468,
 1470,
 1472,
 1474,
 1476,
 1478,
 1480,
 1482,
 1484,
 1486,
 1488,
 1490,
 1492,
 1494,
 1496,
 1498,
 1500,
 1502,
 1504,
 1506,
 1508,
 1510,
 1512,
 1514,
 1516,
 1518,
 1520,
 1522,
 1524,
 1526,
 1528,
 1530,
 1532,
 1534,
 1536,
 1538,
 1540,
 1542,
 1544,
 1546,
 1548,
 1550,
 1552,
 1554,
 1556,
 1558,
 1560,
 1562,
 1564,
 1566,
 1568,
 1570,
 1572,
 1574,
 1576,
 1578,
 1580,
 1582,
 1584,
 1586,
 1588,
 1590,
 1592,
 1594,
 1596,
 1598,
 1600,
 1602,
 1604,
 1606,
 1608,
 1610,
 1612,
 1614,
 1616,
 1618,
 1620,
 1622,
 1624,
 1626,
 1628,
 1630,
 1632,
 1634,
 1636,
 1638,
 1640,
 1642,
 1644,
 1646,
 1648,
 1650,
 1652,
 1654,
 1656,
 1658,
 1660,
 1662,
 1664,
 1666,
 1668,
 1670,
 1672,
 1674,
 1676,
 1678,
 1680,
 1682,
 1684,
 1686,
 1688,
 1690,
 1692,
 1694,
 1696,
 1698,
 1700,
 1702,
 1704,
 1706,
 1708,
 1710,
 1712,
 1714,
 1716,
 1718,
 1720,
 1722,
 1724,
 1726,
 1728,
 1730,
 1732,
 1734,
 1736,
 1738,
 1740,
 1742,
 1744,
 1746,
 1748,
 1750,
 1752,
 1754,
 1756,
 1758,
 1760,
 1762,
 1764,
 1766,
 1768,
 1770,
 1772,
 1774,
 1776,
 1778,
 1780,
 1782,
 1784,
 1786,
 1788,
 1790,
 1792,
 1794,
 1796,
 1798,
 1800]

In [8]:
# initialize empty list
values = range(300,901)
vals = []

#for each i in the range, traverse the range
for i in values:
    #check each digit in i is divisible by 2
    if i%2==0:
        #assign it to the list values
        vals = vals + [i]
        
# Print values            
print(vals)

[300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900]

In [6]:
print("Please enter comma seperated values: ",end="")
csv=input()
csvList = csv.split(',')
print(csvList)

Please enter comma seperated values: 1,as,q2,as,23,asga,hdsd,23,61,25
['1', 'as', 'q2', 'as', '23', 'asga', 'hdsd', '23', '61', '25']

In [11]:
'''
Create the below pattern using nested for loop in Python.
*  * *  * * *  * * * *  * * * * *  * * * *  * * *  * *  * 
'''
n=6
for i in range(n):
    for j in range(i):
        print("*",end=" ")
    print("")
for i in range(n-2,0,-1):
    for j in range(i):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
print("Please enter the word which needs to be reversed: ",end="")
word=input()
revword = word[::-1]
print("Reversed word: {}".format(revword))

Please enter the word which needs to be reversed:

In [8]:
'''
1.1  Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce() 
'''
def reduc(func, arg1):
    x = 0
    for i in arg1:
        x = x + func(i)
    return x

def reduce1(function, iterable, initializer=None):
    it = iter(iterable)
    if initializer is None:
        value = next(it)
    else:
        value = initializer
    for element in it:
        value = function(value, element)
    return value

In [9]:
print(reduc(lambda a,b: a+b,[1,2,3,4,5,6]))

UnboundLocalError: local variable 'x' referenced before assignment

In [3]:
x =lambda a,b: a+b,[1,2,3,4,5,6]

In [4]:
x

(<function __main__.<lambda>(a, b)>, [1, 2, 3, 4, 5, 6])

In [5]:
[x]

[(<function __main__.<lambda>(a, b)>, [1, 2, 3, 4, 5, 6])]